.alertholder {
    z-index: 10000;
    position: fixed;

    .alert {
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: var(--color-accent);
        border-bottom: black 3px solid;

        h2 {
            text-align: center;
            color: var(--color-light);
            margin-top: 1rem;
            font-size: 30px;
        }
    }



}

@media (max-width: 800px) {
    .alertholder {

        z-index: 100;
        .alert {

            h2 {
                margin-top: 1.2rem;
                font-size: 23px;
            }
        }
    }
}