.hero-image {
    height: 300px;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.header {
    background-color: var(--color-dark);
    padding: .75rem;

    >section {
        display: flex;

        /* flex-wrap: wrap; */
        img {
            margin-left: 2rem;
            width: 70px;
            height: 70px;
        }

        section {
            h2 {
                
                margin: 0rem 0 0 1rem;
                color: var(--color-light);
                font-size:clamp(1rem, 3.5vw, 2.5rem);
            }

            p {
                color: var(--color-light);
                margin: 0 0 0 1.2rem;
            }

        }

        div {
            margin: 0 auto;
            ul {
                
                list-style: none;
                display: flex;
                gap: 1.5rem;
                li {
                    /* background-color: var(--color-light); */
                    font-size: 1.5rem;
                    /* border-radius: 13px; */
                    color: var(--color-light);
                    padding: 1rem;
                    margin-top: .2rem;
                    
                    &:hover{
                        transition: 500ms;
                        color: var(--color-light);
                        background-color: var(--color-accent);
                    }
                }
                
            }
        }
    }

}
@media (max-width: 800px) {
    .header {
        >section {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: .5rem;
            img {
                display: none;

            }
            section {
                h2 {
                    display: none;
                    margin: 0;
                    font-size: 25px;
                }
                p {
                    display: none;
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
    }
}